/** @format */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .top-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-left,
  .container-main,
  .container-right {
    display: inline-block;
    display: flex;
    align-items: center;
  }
  
  .container-left a {
    margin-left: 18px;
  }
  
  .container-right a {
    margin-right: 22px;
  }
  
  .container-main form {
    margin-left: 224px;
  }
  
  #searching-form {
    display: flex;
  }
  
  input {
    width: 574px;
    height: 30px;
  }
  
  button {
    width: 63px;
  }
  
  .links {
    padding: 10px;
  }

  $accent_color: #ee4343;
  @mixin iconSize {
    width: 1.2em;
    height: 1.2em;
  }

  @function pxToEm($size_px, $font_size) {
    @return $size_px/$font_size * 1em;
  }

  #wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  .side-menu {
    width: 240px;

    a {
      display: inline-block;
      text-decoration: none;
      color: #606060;
      font-size: 16px;
      padding: pxToEm(12, 16);
      margin-left: 14px;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      &:hover {
        color: $accent_color;
        background: rgba(94, 94, 94, 0.459);
      }
    }

    &__link {
      font-weight: bold;
    }


    i {
      display: inline-block;
      @include iconSize;
      text-align: center;
    }

    span {
      margin-left: 26px;
    }

    h3 {
      display: inline-block;
      font-size: 16px;
      color: #606060;
      margin-left: 24px;
      margin-bottom: 8px;
    }
  }

  
  

  