/** @format */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .top-menu {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-left,
  .container-main,
  .container-right {
    display: inline-block;
    display: flex;
    align-items: center;
  }
  
  .container-left a {
    margin-left: 18px;
  }
  
  .container-right a {
    margin-right: 22px;
  }
  
  .container-main form {
    margin-left: 224px;
  }
  
  #searching-form {
    display: flex;
  }
  
  input {
    width: 574px;
    height: 30px;
  }
  
  button {
    background: #f8f8f8;
    width: 63px;
  }
  
  .links {
    padding: 10px;
  }

  $accent_color: #ee4343;
  @mixin iconSize {
    width: 1.2em;
    height: 1.2em;
  }

  @function pxToEm($size_px, $font_size) {
    @return $size_px/$font_size * 1em;
  }

  body {
    background: #f1f1f1;
  }

  #wrapper {
    box-sizing: border-box;
    padding-top: 56px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
  }

  .side-menu {
    background: #fff;
    padding-left: 14px;
        
    a {
      display: inline-block;
      text-decoration: none;
      color: #606060;
      font-size: 16px;
      padding: pxToEm(12, 16);
      
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      &:hover {
        color: $accent_color;
        background: rgba(94, 94, 94, 0.459);
      }
    }

    &__link {
      font-weight: bold;
    }


    i {
      display: inline-block;
      @include iconSize;
      text-align: center;
    }

    span {
      margin-left: 26px;
    }

    h3 {
      display: inline-block;
      font-size: 16px;
      color: #606060;
      margin-left: 24px;
      margin-bottom: 8px;
    }
  }

.cover-img {
  height: 196px;
  background: url(images/montains.jpg);
  background-size: cover;
  background-position: center;
}


.profile {
  background: #f9f9f9;
  padding: 16px 0 13px 107px;

  &__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
  }

  &__name {
    padding-left: 24px;

  }

  &__subscribe {
    width: 105px;
    height: 36px;
    background-color: #BC271A;
    color: #fff;
    border-radius: 2px;
    margin-left: 700px;
  }

}

.profile-container {
  display: inline-block;
  display: flex;
  align-items: center;
}  

.profile nav {
  display: flex;
  align-items: center;
  height: 42px;
  margin-top: 10px;
}

.nav-container {
  
   a {
    text-decoration: none;
    color: #606060;
    font-size: 16px;
    padding: 13px 33.5px;
  

   &:hover {
    border-bottom-color: #606060;
    border-bottom: 3px solid;
   }

  }
}

.nav-more {
    display: inline-block;
    display: flex;
    align-items: center;
     
  a {
    text-decoration: none;
    color: #606060;
    margin-left: 210px;
    padding: 10px;

  }
  
}


.preview {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 69px;
  font-size: 18px;

  iframe {
    font-size: 20px;
    width: pxToEm(424, 20);
    height: pxToEm(238, 20);
  }

  &__textblock {
    padding: 0 24px;
    max-width: 359px;
  }
}

.nav-preview {
  padding: 24px 69px;
  display: flex;

  a {
    text-decoration: none;
    color: #606060;
    margin-left: 32px;
  }

  span {
    padding-left: 13px;
  }
}

.grid-preview {
  padding: 0 65px 28px;
  display: flex;
  align-items: center;
  
  div {
    margin-left: 4px;
  }

  a {
    text-decoration: none;
    color: #606060;
  }

}


.row-preview {
  font-size: 14px;
  position: relative;
  

  &__textblock {
    max-width: 210px;
    padding: 10px 0;
  }

  &__ellipse {
    display: inline-block;
    position: absolute;
    right: -16px;
    bottom: 155px;
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    right: -2px;
    bottom: 170px;
  }
}


@media only screen and (max-width: 1000px) {
  #wrapper {
    font-size: 16px;
    grid-template-columns: 1fr;
  }
  .side-menu {
    font-size: 16px;
    display: none;
  } 
  .side-menu.visible {
    display: block;
    position: fixed;
    width: 240px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    padding: 0 20px;
  }
  .preview {
    padding: 0 20px;
    font-size: 16px;

    iframe {
      font-size: 4.25vw;

    }
  }  
}
